<%- model_class = Business -%>

<%= form_for( @business, multipart: true ,:html => { :class => "form-horizontal business" } )do |f| %>


    <%= image_tag @business.logo.url, size: "100", :class => 'img-rounded'%>

    <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :summary, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:summary]) %>
  </div>
  <div class="control-group">
    <%= f.label :tagLine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagLine, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:tagLine]) %>
  </div>
  <div class="control-group">
    <%= f.label :domain, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :domain,:class => 'form-control' %>
    </div>
    <%= error_span(@business[:domain]) %>
  </div>

    <div class="control-group">
      <%= f.label :service_list_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :service_list_name,:class => 'form-control' %>
      </div>
      <%= error_span(@business[:service_list_name]) %>
    </div>

    <div class="control-group">
      <%= f.label :template, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :template, [['Basic', 'web_viewer/index'],
                                 ['Material Paper', 'web_viewer/materialPaper']],
                     :class => 'form-control' %>
      </div>
      <%= error_span(@business[:template]) %>
    </div>

    <div class="field">
      <%= f.label :logo %>
      <%= f.file_field :logo %>
    </div>

  <%= f.submit "Save Changes", :class => 'btn btn-primary' %>

<% end %>
