<%- model_class = Business -%>

<%= form_for( @business, multipart: true ,:html => { :class => "form-horizontal business" } )do |f| %>

    <% if @business.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <%= image_tag @business.logo.url, size: "100", :class => 'img-rounded'%>

    <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :summary, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:summary]) %>
  </div>
  <div class="control-group">
    <%= f.label :tagLine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagLine, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:tagLine]) %>
  </div>
  <div class="control-group">
    <%= f.label :hoursOfOpperation, model_class.human_attribute_name(:hoursOfOpperation), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hoursOfOpperation, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:hoursOfOpperation]) %>
  </div>
  <div class="control-group">
    <%= f.label :domain, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :domain,:class => 'form-control' %>
    </div>
    <%= error_span(@business[:domain]) %>
  </div>

    <div class="field">
      <%= f.label :logo %>
      <%= f.file_field :logo %>
    </div>

  <%= f.submit "Save Changes", :class => 'btn btn-primary' %>

<% end %>
