<%= form_for @business, :html => { :class => "form-horizontal business" } do |f| %>

    <% if @business.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :summary, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:summary]) %>
  </div>
  <div class="control-group">
    <%= f.label :tagLine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagLine, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:tagLine]) %>
  </div>
  <div class="control-group">
    <%= f.label :hoursOfOpperation, 'Hours Of Operation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hoursOfOpperation, :class => 'form-control' %>
    </div>
    <%= error_span(@business[:hoursOfOpperation]) %>
  </div>
  <div class="control-group">
    <%= f.label :domain, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :domain,:class => 'form-control' %>
    </div>
    <%= error_span(@business[:domain]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            businesses_path, :class => 'btn btn-default' %>

<% end %>
