<%- model_class = Business -%>
<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h1><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<button id="form_toggle" class="btn btn-info" onclick="sonicstart.rails.business.show_hours()">Toggle Edit</button>


<% if @business.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @business.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-sm-4">
  </div>
  </div>
  <div class="col-sm-4" id = business_form>
    <%= render :partial => 'form' %>
  </div>
    <div class="col-sm-4" id="hours_form" >
      <%= render :partial => 'form_hours' %>
    </div>
  <div class="col-sm-4">

    <% if @business.serviceValidTil%>
            <h3>Service Valid till:
            <%= @business.serviceValidTil %>
            </h3>
    <% else %>
        <h3>Service Not Valid, please make payment
        </h3>
    <% end %>

    </br>

    <%= form_tag charges_path do %>
        <article>
          <label class="amount">
            <span>Amount: $150.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-email="<%= current_user.email%>"
                data-description="1 Year of Service"
                data-image="<%= image_path 'sonicIcon.png'%>"
                data-name="Sonic Start"
                data-amount="15000"></script>
    <% end %>
  </div>


</div>

