<%- model_class = Business -%>
<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h1><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">

  <div class="col-sm-4">
    <%= render :partial => 'form' %>
  </div>
  <div class="col-sm-8">
    <h3>Service Valid till: <%= @business.serviceValidTil %></h3>

    </br>
    <%= form_tag charges_path do %>
        <article>

          <label class="amount">
            <span>Add 1 year of service : $150.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A year subscription"
                data-amount="15000"></script>
    <% end %>
  </div>

</div>

