
<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @business.summary %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @business.tagLine %>
</p>

<p>
  <strong>Hoursofopperation:</strong>
  <%= @business.hoursOfOpperation %>
</p>

<p>
  <strong>Servicevalidtil:</strong>
  <%= @business.serviceValidTil %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @business.domain %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
