<!doctype html>
<html lang="en">
<head>
  <title>Sonic Start - Start your online presence today.</title>
  <!-- need to add meta tags -->
  <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "themed" %>

  <link href="css/custom.css" rel="stylesheet">
</head>
<body>

<header>
  <section class="hero">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <h1><%= image_tag @business.logo.url, size: "100" %>
            <%= @business.name%> </h1>
          <p class="lead"><span> <%= @business.tagLine %> </span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <a href="#Menu" class="btn btn-default">Menu</a>
          <br /> - OR - <br />
          <a href="#Locations" class="btn btn-default">Locations</a>
            <br /><br />
          <blockquote><%= @business.summary %></blockquote>
        </div>
      </div>

    </div>
  </section>
</header>

<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br />
        <br />
        <div class="features-wrapper">
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-laptop shadow"></i>
            </div>
            <h2>Simple</h2>
            <p>
              Enter your information and you're done. Give as much or as little information as you want.
            </p>
          </div>
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-usd shadow"></i>
            </div>
            <h2>Affordable</h2>
            <p>
              The small investment today, will payout tomorrow.
            </p>
          </div>
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-heart shadow"></i>
            </div>
            <h2>Visibility</h2>
            <p>
              Using SEO to allow you to reach more people.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="GetStarted" class="text-center start-cta">
  <h3>Getting started is as easy as entering things you already know. <br /><small>Enter your company's name to get started.</small></h3>
  <form class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <label class="sr-only" for="BusinessName">Enter your Businesses Name: </label>
        <input type="text" class="form-control" id="BusinessName" placeholder="Example: Sonic Start">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Go</button> <!-- save to cookie -->
  </form>
</section>


<!--
    <section id="About">
        <h2>About Sonic Start</h2>
        <p>
            Text explaining about it...
        </p>
    </section>



    <section id="Team">
        <h2>Team us...</h2>
        Cols = number of team members, atm = 2.
    </section>
-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="#">Terms &amp; Conditions</a></li> <!-- need to write up... -->
          <li><a href="#">Legals</a></li> <!-- know anyone versed in law? -->
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>&copy; 2014 <!-- date() --> SonicStart, All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<!-- Javascript at the bottom of the page to speed load time -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>