<div class="row">

  <% @locations.each do |location| %>
      <div class="col-sm-4">
        <h3><%= location.name %>:</h3>
        <%= link_to  location.street_address,
                    "http://maps.google.com/maps?saddr=#{URI.escape('Current Location')}&daddr=#{URI.escape(location.street_address)}", :target => '_blank' %>

        <% timeformat = '%I:%M %p' %>
        <dl class="dl-horizontal">
          <% if location.monday_is_open %>
              <dt><strong>Monday:</strong></dt>
              <dd><%= "#{location.monday_hours_open.strftime(timeformat)} - #{location.monday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
          <% if location.tuesday_is_open %>
              <dt><strong>Tuesday:</strong></dt>
              <dd><%= "#{location.tuesday_hours_open.strftime(timeformat)} - #{location.tuesday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
          <% if location.wednesday_is_open %>

              <dt><strong>Wednesday:</strong></dt>
              <dd><%= "#{location.wednesday_hours_open.strftime(timeformat)} - #{location.wednesday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>

          <% if location.thursday_is_open %>
              <dt><strong>Thursday:</strong></dt>
              <dd><%= "#{location.thursday_hours_open.strftime(timeformat)} - #{location.thursday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
          <% if location.friday_is_open %>
              <dt><strong>Friday:</strong></dt>
              <dd><%= "#{location.friday_hours_open.strftime(timeformat)} - #{location.friday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
          <% if location.saturday_is_open %>
              <dt><strong>Saturday:</strong></dt>
              <dd><%= "#{location.saturday_hours_open.strftime(timeformat)} - #{location.saturday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
          <% if location.sunday_is_open %>

              <dt><strong>Sunday:</strong></dt>
              <dd><%= "#{location.sunday_hours_open.strftime(timeformat)} - #{location.sunday_hours_close.strftime(timeformat)}" %></dd>
          <% end %>
        </dl>
      </div>


  <% end %>
</div>